---
import '../../styles/global.css'
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import Logo from "../../assets/element-x/logo.png"
import GameContent from "../../components/element-x/GameContent.astro"
import ContentHeader from "../../components/element-x/ContentHeader.astro"
import YouTubeEmbed from "../../components/YouTubeEmbed.astro"
import ScreenshotCarousel from "../../components/element-x/ScreenshotCarousel.astro"

import TeleportImage from "../../assets/element-x/icons/teleport.png"
import SlowTimeImage from "../../assets/element-x/icons/slow_time.png"
import ExperienceImage from "../../assets/element-x/icons/experience.png"
import CoreSwitchImage from "../../assets/element-x/icons/core_switch.png"
import HealthUpImage from "../../assets/element-x/icons/health_up.png"
import SkullImage from "../../assets/element-x/icons/skull.png"

import FireImage from "../../assets/element-x/icons/fire.png"
import IceImage from "../../assets/element-x/icons/ice.png"
import ElectricityImage from "../../assets/element-x/icons/electricity.png"
import ParallaxImage from "../../assets/element-x/parallax.png"



---

<Layout title="Welcome to Astro.">
    <div style={{backgroundImage: `url(${ParallaxImage.src})`}} 
    class="bg-fixed bg-no-repeat bg-cover">
        <Header/>


        <div class="flex justify-center">
            <img src={Logo.src}/>

        </div>

        <hr class="w3-border-grey mx-[25%] mb-12"></hr>
        
        <div class="text-center mb-12 text-4xl 
                        md:text-6xl ">
            <h1>Roguelike Bullet Hell</h1>  
        </div>

        <div class="mx-4 mb-4 py-8 flex justify-center
                        md:mx-[10%] md:py-24 md:mb-12
                        lg:mx-[5%]">
            <iframe src="https://store.steampowered.com/widget/1361120/" frameborder="0" width="646" height="190" ></iframe>
        </div>

        <div class="mx-4 mb-4 py-8
                        md:mx-[10%] md:py-24 md:mb-12
                        lg:mx-[15%]">
            <YouTubeEmbed embedId="P7ZU3IZtmg0"/>
        </div>

        <div class="mx-4 mb-4 py-8 bg-opacity-80 bg-black
                        md:mx-[5%] md:py-24 md:mb-12
                        lg:mx-[15%]">
            <ContentHeader text="Abilities"/>
            <div class="flex flex-col md:flex-row">
                <GameContent image={SlowTimeImage.src} text="Slow Time"/>

                <div class="mx-8 my-4 text-center basis-1 grow">
                    <div class="flex justify-center mb-4">
                        <img class="w-16 mx-2" src={FireImage.src}/>
                        <img class="w-16 mx-2" src={ElectricityImage.src}/>
                        <img class="w-16 mx-2" src={IceImage.src}/>
                    </div>
                    Control Elements
                </div>

                <GameContent image={TeleportImage.src} text="Teleport"/>
            </div>
        </div>

        <div  class="mx-4 mb-4 py-8 bg-opacity-80 bg-black
                        md:mx-[5%] md:py-24 md:mb-12
                        lg:mx-[15%]">
            <ContentHeader text="Features"/>
            <div class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap">
                <GameContent image={ExperienceImage.src} text="Arcade style competitive scoring; Global, friends, and personal leaderboards"/>
                <GameContent image={CoreSwitchImage.src} text="Procedurally generated maps, bosses and attack patterns in every play through"/>
                <GameContent image={HealthUpImage.src} text="100+ different upgrades and 20+ unlockable perks to craft your own play style"/>
                <GameContent image={SkullImage.src} text="Variety of UI and player cosmetics"/>
            </div>
        </div>

        <div class="mx-4 mb-12 
                        md:px-[5%]
                        lg:px-[15%]">
            <ScreenshotCarousel />
        </div>


        <Footer/>
        
    </div>

</Layout>